body {
	background-size: 100%;
	background-color: #ECECEC;
	font-family: "Karla", serif;
	/*color: black;*/
}

.body-nobg {
	background-color: #ECECEC;
	background: none;
}

section, footer {
	text-align: center;
}

#masthead, .answer-text {
	padding: 1em;
}

#masthead {
	margin-top: 1em;
	background-color: #52689A;
	border-radius: 2em 2em 0 0;
	font-family: "Orbitron", serif;
	color: #ECECEC;
}

#masthead h1 {
	font-size: 4em;
}

#content {
	margin-top: 4em;
}

#content h1,
#content h2 {
	margin-bottom: 1.5em;
	font-family: "Crimson Text", serif;
}

#content h1 {
	font-size: 4em;
	margin-bottom: .5em;
}

#content p {
	font-size: 1.2em;
}

.btn-group>.btn {
	float: none;
}

.btn {
	margin: 1em 0;
	width: 20em;
	font-size: 1em;
	font-weight: 600;
	color: Black;
}

.btn-primary {
	background-color: rgb(238, 238, 238);
	display: block;
}

.btn-radio {
	display: none;
}

.btn-answer {
	width: 5em;
	font-size: 1.5em;
}

.text-withbg {
	color: #ECECEC;
}

.answer-text {
	background-color: rgba(51, 51, 51, 0.68);
	margin: auto;
	margin-bottom: 12em;
}

#content > .game-end h1,
#content > .game-end h3 {
	font-family: fantasy, sans-serif;
}

#content > .game-end h1 {
	font-size: 5.5em;
}

#content > .game-end h3 {
	font-size: 3em;
	margin-bottom: 1em;
}

footer {
	border-radius: 1.5em;
}

.footer-withbg {
	background-color: rgba(51, 51, 51, 0.68);
}

#score-footer h3 {
	margin: 1em auto;
	border-radius: 1.5em;
	padding: 0.3em;
	max-width: 10em;
}

#mast-footer {
	margin-top: 8em;
	padding-top: 2em;
	border-top: 1px solid;
}

/*Toggle for each state of the game*/
.game-start,
.game-choose-cat,
.game-question,
.game-answer,
.game-end 
{
	display: none;
}



